node_modules
dist
build
.turbo
coverage
.env
.env.local
.env.*.local
*.log
*.lock
!pnpm-lock.yaml
.DS_Store
Thumbs.db
apps/desktop/src-tauri/target
apps/mobile/android
apps/mobile/ios
.vite
*.d.ts.map
*.zip
.venv
